<p-button (click)="showDialog()" icon="pi pi-plus-circle" label=""></p-button>
<p-table [value]="contas" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>{{ acao }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-conta>
    <tr>
      <td>{{ conta.id }}</td>
      <td>{{ conta.name }}</td>
      <td>{{ conta.price }}</td>
      <td *ngIf="conta.status">{{ conta.dataPagamento || "-" }}</td>
      <td *ngIf="!conta.status">
        <button pButton type="button" label="Pagar"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<app-conta-form [showdisplay]="display"></app-conta-form>
