<p-button
  (click)="showDialog()"
  class="mb"
  icon="pi pi-plus-circle"
  label="Nova Conta"
></p-button>
<br />
<br />
<div id="table">
  <p-table
  [value]="contas"
  responsiveLayout="scroll"
  [scrollable]="true"
  scrollHeight="300px"
  scrollDirection="both"
  >
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width: 100px">Código</th>
      <th style="min-width: 200px">Nome</th>
      <th style="min-width: 200px">Preço</th>
      <th style="min-width: 160px">Data de Crição</th>
      <th style="min-width: 200px">{{ acao }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-conta>
    <tr>
      <td style="min-width: 100px">{{ conta.id }}</td>
      <td style="min-width: 200px">{{ conta.name }}</td>
      <td style="min-width: 200px">
        {{ conta.price | currency: "BRL":true || 00.0 }}
      </td>
      <td style="min-width: 160px">
        {{ conta.dataCriacao | date: "dd/MM/yyy H:mm" }}
      </td>
      <td style="min-width: 160px" *ngIf="conta.status">
        {{ conta.dataPagamento | date: "dd/MM/yyy H:mm" }}
      </td>
      <td style="min-width: 200px" *ngIf="!conta.status">
        <p-toast></p-toast>
        <button
        pButton
        type="button"
        (click)="pagar(conta)"
        label="Pagar"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p *ngIf="!this.contas.length ? true : false">Não possui conta aberta </p>
</div>
<app-conta-form [showdisplay]="display"></app-conta-form>
