<form [formGroup]="fb" (ngSubmit)="save()">
  <p-dialog
    header="Nova Conta"
    [(visible)]="display"
    [position]="position"
    [draggable]="false"
    [style]="{ width: '50vw' }"
    [resizable]="false"
  >
    <h5>Nome</h5>
    <span class="p-float-label">
      <input
        id="float-input"
        type="text"
        title="Nome de Conta"
        class="field-max"
        formControlName="name"
        [ngModel]="conta.name"
        pInputText
      />
      <label for="float-input">Digite o nome da conta</label>
      <small
        id="username2-help"
        class="p-error block"
        *ngIf="!fb.get('name')?.valid"
        >Nome é obrigatório.</small
      >
    </span>
    <h5>Valor</h5>
    <span class="p-float-label">
      <p-inputNumber
        [(ngModel)]="conta.price"
        mode="decimal"
        [minFractionDigits]="2"
        formControlName="price"
        class="field-max"
      ></p-inputNumber>
      <label for="float-input">Digite o valor</label>
    </span>
    <h5>Pago</h5>
    <span class="p-float-label">
      <p-toggleButton
        [(ngModel)]="checked"
        title="Conta Paga?"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
        formControlName="status"
      ></p-toggleButton>
    </span>

    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="save()"
        label="Ok"
        styleClass="p-button-text"
        *ngIf="fb.valid"
      ></p-button>
    </ng-template>
  </p-dialog>
</form>
