<form [formGroup]="fb" (ngSubmit)="save()">
  <p-dialog header="Nova Conta" [(visible)]="display" [position]="position" [draggable]="false"
    [style]="{ width: '350px' }" [resizable]="false" [modal]="true">
    <div class="box-form">
      <div class="box-input-max">
        <Label>Nome</Label>
        <input id="float-input" style="width: 100%; height: '40px';" type="text" title="Nome de Conta" formControlName="name" [ngModel]="conta.name"
        pInputText />
      </div>
      <div class="box-input">
        <Label>Valor</Label>
        <p-inputNumber [(ngModel)]="conta.price" mode="decimal" [minFractionDigits]="2" formControlName="price"
        style="height: '40px';"></p-inputNumber>
      </div>
      <div class="box-input status">
        <Label style="text-align: right; padding-right: 4px;">Pago</Label>
        <p-toggleButton  [(ngModel)]="checked" title="Conta Paga?" style="width: 30px; !important" onIcon="pi pi-check" offIcon="pi pi-times"
        formControlName="status"></p-toggleButton>
      </div>
    </div>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="save()" label="Salvar" [disabled]="!fb.valid"></p-button>
      </ng-template>
  </p-dialog>
</form>